@import "header";
@import "controls";

// reset
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Merriweather", serif;
	background: rgb(246, 255, 255);
	height: 100vh;
}

.container {
	max-width: 1400px;
	margin: auto;
	height: 100vh;
}
